$backgroundColor: #f9f9fb;
$footerColor: #040404;
$cardColor: #ffffff;
$cardClickColor: #00000008;
$cardİmageColor: #00000029;
$nameColor: #191b2c;
$mailColor: #8a8b8d;
$buttonColor: #43ab5880;
$buttonRevievColor: #8599a8;
$buttonHoverColor: #748efc;
$headerColorRight: #3b4d9a;
$headerColorLeft: #748efc;
$boxshadox: #748efc80;
